---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
---

<Layout title="Welcome to Astro.">
    <main>Some text to see what things look like</main>
</Layout>

<style>
    main {
    }
    h1 {
    }
</style>
